body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
  width: 400px;
}

.form-group {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px;
}
legend {
  font-weight: 700;
  padding: 20px 0 30px 0;
}
label {
  cursor: pointer;
  font-weight: 200;
}
input,
textarea {
  width: 100%;
  width: 250px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
  resize: vertical;
}

#checkbox {
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: -14px;
}

button {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
