* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(243px,1fr));
	gap: 10px;
	justify-content: center;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-areas: 
	"header header header header"
	"aside main main main"
	"footer footer footer footer";
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-area: header;
}

.aside {
	background-color: #e2e20d;
	grid-area: aside;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-area: main;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-area: footer;
}

@media(max-width:768px){
	.aside{
		display: none;
	}
	.wrapper{
		grid-template-areas: 
	"header header header header"
	"main main main main"
	"footer footer footer footer";
	}
}