@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu Medium"),
    local("Ubuntu-Medium"),
    url("./css/fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("./css/fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu Bold"),
    local("Ubuntu-Bold"),
    url("./css/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("./css/fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu Regular"),
    local("Ubuntu-Regular"),
    url("./css/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("./css/fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald SemiBold"),
    local("Oswald-SemiBold"),
    url("./css/fonts/Oswald-SemiBold.woff2") format("woff2"),
    url("./css/fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald Regular"),
    local("Oswald-Regular"),
    url("./css/fonts/Oswald-Regular.woff2") format("woff2"),
    url("./css/fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald Medium"),
    local("Oswald-Medium"),
    url("./css/fonts/Oswald-Medium.woff2") format("woff2"),
    url("./css/fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald Light"),
    local("Oswald-Light"),
    url("./css/fonts/Oswald-Light.woff2") format("woff2"),
    url("./css/fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
